@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Lato:wght@300&family=Neucha&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');
@import '../../utils/_variables';

.words-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0 0;
  gap: 20px;
  font-family: Rubik, sans-serif;
  .wordCard {
    width: 340px;
    border-radius: 40px;
    overflow: hidden;
    transition: 0.3s linear;
    &:hover {
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
      transform: scale(1.04);
    }
    .cardTop {
      position: relative;
      width: 100%;
      height: 200px;
      .cardTitle {
        font-size: 3rem;
        position: absolute;
        width: 100%;
        z-index: 3;
        color: white;
        bottom: 0;
        text-align: center;
        box-sizing: border-box;
        padding: 10px;
      }
      img {
        width: 100%;
        height: 100%;
      }
      .ribbon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: 40px;
        left: -40%;
        position: absolute;
        border: 2px solid white;
        color: white;
        text-align: center;
        top: 20%;
        background-color: black;
        transform: rotate(-45deg);
      }
      .cardOverlay {
        z-index: 2;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
      }
      .hard-icon {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 6%;
        right: 15%;
        z-index: 3;
        background-color: rgba(0, 0, 0);
        border-radius: 50%;
        cursor: pointer;
        &:hover {
          background-color: rgb(87, 87, 87);
        }
      }
      .learn-icon {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 6%;
        right: 6%;
        z-index: 3;
        background-color: rgba(0, 0, 0);
        border-radius: 50%;
        cursor: pointer;
        &:hover {
          background-color: rgb(87, 87, 87);
        }
      }
    }
    .cardMid {
      position: relative;
      box-sizing: border-box;
      padding: 20px 20px 60px;
      margin-top: -5px;
      box-shadow: inset 0px -15px 8px -8px rgba(49, 46, 46, 0.51);
      display: flex;
      justify-content: space-between;
      .cardMean {
        color: white;
        font-size: 1.1rem;
      }
      .cardCircle {
        border: none;
        width: 30%;
        height: 100%;
        border-radius: 50%;
        position: absolute;
        bottom: -40%;
        left: 35%;
        box-shadow: inset 0px -15px 8px -8px rgba(49, 46, 46, 0.51);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.3s linear;
        &:hover {
          box-shadow: inset -12px -25px 12px -12px rgba(49, 46, 46, 0.51);
        }
      }
      .audioMean {
        font-size: 20px;
        color: white;
        border: none;
        width: 20%;
        height: 60%;
        border-radius: 50%;
        position: absolute;
        bottom: -30%;
        left: 10%;
        box-shadow: inset 8px 8px 8px rgba(49, 46, 46, 0.51);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.3s linear;
        &:hover {
          box-shadow: inset -12px -25px 12px -12px rgba(49, 46, 46, 0.51);
        }
      }
      .audioExamp {
        font-size: 20px;
        color: white;
        border: none;
        width: 20%;
        height: 60%;
        border-radius: 50%;
        position: absolute;
        bottom: -30%;
        right: 10%;
        box-shadow: inset 8px 8px 8px rgba(49, 46, 46, 0.51);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.3s linear;
        &:hover {
          box-shadow: inset -12px -25px 12px -12px rgba(49, 46, 46, 0.51);
        }
      }
    }
    .cardBottom {
      height: auto;
      background-color: white;
      box-sizing: border-box;
      padding: 50px 15px 20px;
      .cardText {
        height: 150px;
        text-align: right;
        p {
          margin-top: 5px;
        }
      }
    }
  }
}

.theme_dark .words-container {
  .wordCard {
    .cardTop img {
      opacity: 0.9;
    }
    .cardBottom {
      background-color: $darkColor;
    }
  }
}
