@import '../../utils/variables';
@import '../../utils/_mixins.scss';

button {
  border: none;
}
.theme-button__wrapper {
  display: flex;
  align-items: center;
  padding-left: 28px;
  padding-right: 28px;
}

.theme-icon {
  margin-right: 10px;
  width: 18px;
  height: 18px;
  background-image: url(../../assets/svg/day.svg);
  @include icon-background;
}

.theme_dark .theme-icon {
  background-image: url(../../assets/svg/night.svg);
  color: red;
}

.theme-button {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  margin: 0;
  vertical-align: top;
  background-color: $textColor;
  border-radius: 190px;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.theme-button::after {
  content: '';
  display: inline-block;
  position: absolute;
  left: 6px;
  top: 4px;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: $primaryColor;
  border-radius: 50%;
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
  transform: translateX(0);
  @include trans-medium;
}

.theme-button:checked::after {
  transform: translateX(calc(100% + 3px));
  background-color: black;
  box-shadow: 2px 4px 15px rgba(230, 230, 230, 0.15);
}

.theme-button:checked {
  background-color: $backgroundDark;
  box-shadow: none;
}
