@import '../../utils/variables';
@import '../../utils/_mixins.scss';

.accordion {
  height: 100%;
}

.accordion .main-card {
  float: right;
  width: 115px;
  height: 100%;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  @include cards-shadow;
}

.accordion .main-card .heading {
  background-color: #fff;
  padding: 10px;
  margin-top: 60px;
  opacity: 0.9;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 14px;
  color: #444;
  text-align: center;
  text-shadow: -1px -1px 1px #ccc;
  @include trans-fast;
}

.accordion .main-card .description {
  position: absolute;
  width: 480px;
  height: 180px;
  bottom: 0px;
  left: 0px;
  opacity: 0;
  background: rgba(255, 255, 255, 0.8);
  @include trans-medium;
}

.accordion .main-card .description h2 {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 45px;
  color: #444;
  text-align: left;
  margin: 11px 0px 15px 20px;
  text-shadow: -1px -1px 1px #ccc;
}

.accordion .main-card .description p {
  line-height: 14px;
  margin: 10px 22px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.6em;
}

.accordion .main-card .description a {
  position: absolute;
  bottom: 5px;
  left: 20px;
  text-transform: uppercase;
  font-style: normal;
  font-size: 11px;
  text-decoration: none;
  color: #888;
}

.accordion .main-card .description a:hover {
  color: #333;
  text-decoration: underline;
}

.accordion .main-card .bgDescription {
  height: 340px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: none;
}

// * additional styles

a {
  color: #444;
  text-decoration: none;
}

a:hover {
  color: #999;
}

.title {
  width: 500px;
  height: 152px;
  position: absolute;
  top: 0px;
  left: 0px;
}

a.back {
  position: fixed;
  width: 150px;
  height: 27px;
  outline: none;
  bottom: 0px;
  left: 0px;
}

.reference {
  clear: both;
  top: 300px;
  left: 0px;
  position: absolute;
  text-align: right;
  width: 400px;
  padding: 20px;
  background-color: #fff;
  -moz-box-shadow: 1px 3px 15px #ddd;
  -webkit-box-shadow: 1px 3px 15px #ddd;
  box-shadow: 1px 3px 15px #ddd;
}

.reference p a {
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #fff;
  color: #666;
  text-decoration: none;
  font-size: 10px;
}

.reference p a:hover {
  color: #333;
}

#accordion > .main-card {
  transition: all 1s;
}

#accordion > .main-card:hover {
  transition: all 0.5s;
  width: 480px;
}

#accordion > .main-card:hover .description {
  opacity: 0.9;
  @include trans-medium;
}

#accordion > .main-card:hover .heading {
  @include trans-fast;
  opacity: 0;
}

.accordion .main-card0 {
  background-color: $brandedColor5;
}

.accordion .main-card1 {
  background-color: $brandedColor1;
}

.accordion .main-card2 {
  background-color: $brandedColor2;
}

.accordion .main-card3 {
  background-color: $brandedColor3;
}

.accordion .main-card4 {
  background-color: $brandedColor6;
}

.advantage {
  background-color: red;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  @include trans-slow;
}

.advantage:hover {
  background-color: red;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  @include trans-slow;
}

.advantage-text {
  font-size: 5px;

  opacity: 0;
  @include trans-slow;
}

.advantage-text:hover {
  opacity: 0.9;
  @include trans-slow;
}
