@mixin trans-medium {
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

@mixin icon-background {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin for-mobile {
  @media (max-width: 600px) {
    @content;
  }
}
