$primaryColor: #4e97c2;
$secondaryColor: #026aa7;
$darkColor: #284968;
$lightColor: #95bdd4;
$backgroundColor: #e5e5e5;
$textColor: #ecf7ff;

$footerHeight: '50px';

// * PolyLang theme colors
// $background-header: #fff1f0;
// $text-color: #fe5244;
// $text-hover: #850e03;
// $background-main: #e5e5e5;
