$primaryColor: #4e97c2;
$secondaryColor: #026aa7;
$darkColor: #284968;
$lightColor: #95bdd4;
$backgroundColor: #f7f9ff;
$textColor: #ecf7ff;
$textDark: #000c18;
$white: #fff;
$greyColor: #a2a6ad;

$brandedColor1: #8b0061;
$brandedColor2: #1b73ba;
$brandedColor3: #f8d23c;
$brandedColor4: #ff534d;
$brandedColor5: #de8a00;
$brandedColor6: #7478ae;
$brandedColor7: #8cdd3f;

$mainCardWidth: 45%;
