@import '../../utils/variables';
@import '../../utils/_mixins.scss';

footer {
  width: 100%;
  position: absolute;
  background-color: $secondaryColor;
  @include flex-between;
}

.footer-container {
  @include flex-between;

  @include for-mobile {
    @include flex-center;
  }
}

.footer-item {
  &:hover {
    color: $textColor;
    @include trans-medium;
  }
}

.rs-button {
  width: 60px;
  height: 20px;
  background-image: url(../../assets/svg/rs.svg);
  @include icon-background;

  &:hover {
    background-image: url(../../assets/svg/rs-color.svg);
  }
}
