@import '../../utils/variables';
@import '../../utils/_mixins.scss';

footer {
  width: 100%;
  height: $footerHeight;
  position: absolute;
  bottom: 0;
  background-color: $secondaryColor;
}

.footer-container {
  height: $footerHeight;
  @include flex-between;

  @include for-mobile {
    @include flex-center;
  }
}

.footer-item {
  &:hover {
    @include trans-medium;
  }
}

.rs-button {
  width: 60px;
  height: 20px;
  background-image: url(../../assets/svg/rs.svg);
  @include icon-background;

  &:hover {
    background-image: url(../../assets/svg/rs-color.svg);
  }
}
