@import './utils/_variables.scss';
@import './utils/_mixins.scss';

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100vh;
}

.container {
  width: 1440px;
  position: relative;
}

.main-container {
  background-color: $backgroundColor;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.container {
  width: 1440px;
}
