@import './utils/_mixins.scss'
@import './utils/_variables.scss'

.sprint-game
  @include flex-center
  width: 100%
  padding: 15px
  background-color: $lightColor

  .sprint-container
    max-width: 100%

  .word-card
    width: 380px
    max-width:100%
    @include flex-center
    flex-direction: column
    text-align: center
    padding: 30px
    background-color: #fff
    border-radius: 10px
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3)

    .head
      width: 100%

      .top
        @include flex-center
        justify-content: space-between

    .series-answers
      @include flex-center
      justify-content: space-between
      width: 100px
      margin: 20px auto 30px

      .item
        width: 18px
        height: 18px
        background-color: #eee
        border-radius: 50%

    .series--1
      .item-1
        background-color: $lightColor

    .series--2
      .item-1,
      .item-2
        background-color: $lightColor

    .series--3
      .item-1,
      .item-2,
      .item-3
        background-color: $lightColor

    .series--4
      .item-1
        background-color: $primaryColor

    .series--5
      .item-1,
      .item-2
        background-color: $primaryColor

    .series--6
      .item-1,
      .item-2,
      .item-3
        background-color: $primaryColor

    .series--7
      .item-1
        background-color: $darkColor

    .series--8
      .item-1,
      .item-2
        background-color: $darkColor

    .series--9
      .item-1,
      .item-2,
      .item-3
        background-color: $darkColor

    .word
      font-size: 1.6em
      font-weight: 500
      margin-bottom: 30px

      span
        display: block

      .word-english
        font-size: 1.2em
        font-weight: 600

    .answers-btn
      button:first-child
        margin-right: 20px


.result-score
  max-width:100%
  width: 700px
  padding: 30px
  background-color: #fff
  border-radius: 10px
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3)

  .result-score__total
    text-align: center
    padding-bottom: 15px
    margin-bottom: 25px
    border-bottom: 1px solid $primaryColor

    span
      font-size: 1.2em

  hr
    margin: 25px 0
    border-color: $primaryColor

  .true-answer,
  .false-answer
    height: 265px
    overflow-y: auto

    &::-webkit-scrollbar
      width: 7px
      background-color: #eee

    &::-webkit-scrollbar-thumb
      background-color: $darkColor

    h3
      padding-top: 5px
      margin-bottom: 15px

      .count
        color: $textColor
        padding: 2px 10px 3px 10px
        background-color: green
        border-radius: 30px
        

    ul
      font-size: 18px
      list-style: none

      li
        @include flex-center
        justify-content: start
        margin-bottom: 8px

        svg
          margin-right: 10px
          cursor: pointer

        .dash
          display: inline-block
          margin: 0 5px

  .btns
    @include flex-center
    justify-content: space-evenly
    margin-top: 30px

  .false-answer
    h3
      .count
        background-color: #c00202

@media (max-width: 449px)
  .sprint-game .word-card,
  .result-score
    padding: 15px
